.speech {
    font-family: arial;
    font-size: 25px;
    color:black;

}

.direction:hover {
    font-family: sans-serif;
    font-size: 40px;
    color:black;
    background-color: cyan;
}

.manders{
    color:blue;
}

.alving{
    color:brown;
}

